In [1]:
t = {3, 4, 5, "Niha",6,7100}

In [4]:
for i in t:
    print(t)

{3, 4, 5, 6, 7100, 'Niha'}
{3, 4, 5, 6, 7100, 'Niha'}
{3, 4, 5, 6, 7100, 'Niha'}
{3, 4, 5, 6, 7100, 'Niha'}
{3, 4, 5, 6, 7100, 'Niha'}
{3, 4, 5, 6, 7100, 'Niha'}

In [3]:
s = {3, 4, 5, "Niha",6,7100}

In [5]:
for i in s:
    print(i)

3
4
5
6
7100
Niha

In [6]:
d = { "name":"Niharika", "Year":"2nd Year","Sub":"Python"}

In [7]:
d["Sub"]

'Python'

In [9]:
for i in d:
    print(i, ":", d[i])

name : Niharika
Year : 2nd Year
Sub : Python

In [10]:
l = {3, 4, 5, "Niha",6,7100}

In [11]:
l

{3, 4, 5, 6, 7100, 'Niha'}

In [14]:
for i in l:
    if i == 'Niha':
        break;
    print(i)
else:
        print("Something else");

3
4
5
6
7100

In [15]:
for i in l:
    print(i)
else:
    print("Something Else")

3
4
5
6
7100
Niha
Something Else

In [20]:
for i in l:
    if i == "Niha":
        pass
        print(i)
    else:
        print("Something else")

Something else
Something else
Something else
Something else
Something else
Niha

In [22]:
for i in l:
    if i == "Niha":
        pass
    else:
        print(i)
else:
    print("Something Else")

3
4
5
6
7100
Something Else

In [23]:
l

{3, 4, 5, 6, 7100, 'Niha'}

In [28]:
for i in l:
    if(i == "Niha"):
        print(i + "1")
    else:
        i = i + 1
        print(i)

4
5
6
7
7101
Niha1

In [29]:
range(9)

range(0, 9)

In [30]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
list(range(-8,9))

[-8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
list(range(0,9,-1))

[]

In [33]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
range(len(l))

range(0, 6)

In [35]:
len(l)

6

In [36]:
list(range(len(l)))

[0, 1, 2, 3, 4, 5]

In [37]:
for i in range (len(l)):
    print(i)

0
1
2
3
4
5

In [26]:
l = [3, 4, 5, "Niha",6,7100]

In [27]:
l

[3, 4, 5, 'Niha', 6, 7100]

In [30]:
l1 = []
for i in l:
    if type(i)==int:
        l1.append(i)

In [31]:
l1

[3, 4, 5, 6, 7100]

In [ ]:
#n = input("Enter the value of n")
n = 3
for i in range[1,n+1]:
    for j in range[1,i+1]:
        print("*",end="")
    print()